# === Laravel Backend ===
/backend/vendor
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/framework/cache
/backend/storage/framework/sessions
/backend/storage/framework/views
/backend/storage/logs
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
/backend/.phpunit.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.fleet
/backend/.idea
/backend/.vscode

# === Frontend ===
# === Frontend ===
# Mengabaikan folder dan file yang tidak perlu di-track oleh Git
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage/
/frontend/build/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# === Jangan Abaikan File Ini ===
# Memastikan file-file yang diperlukan di-track oleh Git
!/frontend/package.json
!/frontend/README.md
!/frontend/src/**

# === Global ===
.DS_Store
Thumbs.db
